obj/
*.o
*.d
tests/test_myproto
tests/test_integration
tests/test_comparison
*.swp
*.swo
*~
.vscode/
#-------------------------
#zyx添加忽略文件/目录
scp_to_198-199.sh
.agents
.codex
docs/CODE_CHANGES.md
tests
#-------------------------